/*GENERAL*/
/* SELECTOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h5 {
  color: #97252B;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-evenly;
}

.nav-link:hover {
  color: blue;
  font-weight: 600;
  text-decoration: underline;
}

/* MAIN */
.titulo-one {
  text-align: center;
  background-image: url(../img/prueba-tres.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.titulo-one h1 {
  font-family: "Mulish", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-size: 4.5rem;
  color: white;
  font-weight: 400;
  font-style: italic;
  text-shadow: 50px 20px 8px black;
}

/*HOME*/
.lista-ultima-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.lista-ultima-conteiner img {
  border-radius: 10px;
  background: linear-gradient(145deg, #c1c1c1, #e5e5e5);
  box-shadow: 15px px 15px #b6b6b6, -20px -20px 14px #f6f6f6;
}
.lista-ultima-conteiner p {
  padding-top: 5px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}
.lista-ultima-conteiner div {
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

/*GALERIA*/
.title-galeria {
  display: flex;
  justify-content: start;
  margin-top: 1%;
  margin-left: 3%;
  color: #97252B;
  font-weight: 300;
}

.primera-lista-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.primera-lista-galeria .card-body {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
.primera-lista-galeria .card-body h3 {
  color: #97252B;
  font-weight: 500;
}
.primera-lista-galeria .card-body p {
  font-size: 17px;
  margin: 3px;
}

/*PRODUCTOS*/
.title-producto {
  display: flex;
  justify-content: start;
  margin-top: 1%;
  margin-left: 3%;
  color: #97252B;
  font-weight: 300;
}

.primera-lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-body {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
.card-body h3 {
  color: #97252B;
  font-weight: 500;
}
.card-body p {
  font-size: 17px;
  margin: 3px;
}

/*RRHH*/
.title-rrhh {
  animation-duration: 2s;
  padding-top: 5px;
  color: #97252B;
  font-weight: 600;
  text-align: center;
}
.title-rrhh h2 {
  margin: 8px;
  font-size: 25px;
  text-align: center;
}

/* acepta terminos y condiciones en rrhh*/
.form-check {
  display: flex;
  justify-content: flex-start;
  margin-left: 80%;
  padding: 2px;
}
.form-check input {
  border-color: black;
}
.form-check label {
  padding: 2px;
  margin-left: 8px;
}

.Buttom-form {
  display: flex;
  justify-content: center;
}

/*CONTACTO*/
.title-contactanos {
  animation-duration: 3s;
  padding-top: 5px;
  text-align: center;
  color: #97252B;
  font-weight: 500;
}

.form-check {
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.form-check input {
  border-color: black;
}
.form-check label {
  padding: 2px;
  margin-left: 8px;
}

.Buttom-form {
  display: flex;
  justify-content: center;
}

/* FOOTER */
footer {
  background-color: #F3EEEA;
  color: #776B5D;
  color: black;
  margin: 0;
  padding: 0;
}
footer .list-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}
footer .list-footer img {
  width: 25px;
}
footer .list-footer a {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
}
footer .list-footer a:hover {
  color: blue;
  font-weight: 200;
  text-decoration: underline;
}

.list-footer-two {
  padding: 10px;
  text-decoration: underline;
  box-sizing: border-box;
}
.list-footer-two a {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
}
.list-footer-two a:hover {
  color: blue;
  font-weight: 200;
  text-decoration: underline;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
  /* MODIFICACION AL TITULO Y FONDO */
  .titulo-one {
    padding: 3px;
  }
  .titulo-one h1 {
    font-size: 45px;
    text-shadow: 8px 10px 5px black;
  }
  .title-producto {
    justify-content: center;
    margin-top: 2%;
    margin-left: 0%;
  }
  /* MODIFICACION EN RRHH*/
  .title-rrhh {
    padding-left: 0;
    text-align: center;
  }
  .title-rrhh h2 {
    font-size: 20px;
  }
  /* TERMINOS Y CONDICIONES Y BOTTOM EN RRH Y CONTACTO */
  .form-check {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  /* MODIFICACION EN PRODUCTO */
  .title-producto {
    text-align: center;
    margin-bottom: 0px;
  }
  .title-producto h2 {
    font-size: 22px;
  }
  /* MODIFICACION EN CONTACTO */
  .title-contactanos {
    padding-left: 0;
    text-align: center;
  }
  .form-check {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* FOOTER */
  .list-footer {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 5px;
  }
  .list-footer div img {
    border-radius: 5px;
    width: 5%;
  }
  footer div a {
    font-size: 15px;
    align-items: start;
  }
  .list-footer-two {
    padding: 5px;
  }
}
/* DEKTOP */
@media only screen and (min-width: 979px) {
  body {
    width: 100%;
  }
  .titulo-one {
    padding: 10px;
  }
  .img-betular img {
    width: 105%;
    height: 100%;
  }
  .card-text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=estilos.css.map */
