// Contactos.

/*CONTACTO*/

.title-contactanos{
    animation-duration: 3s;
    padding-top: 5px;
    text-align: center;
    color: #97252B;
    font-weight: 500;
}


.form-check{
    margin-left: 0;
    display: flex;
    justify-content: center;

    input{
        border-color: black;
    }

    label{
        padding: 2px;
        margin-left: 8px;
    }
}

.Buttom-form{
    display: flex;
    justify-content: center;
}
