// HOME.

/*HOME*/

.lista-ultima-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    img{
        border-radius: 10px;
        background: linear-gradient(145deg, #c1c1c1, #e5e5e5);
        box-shadow:  15px px 15px #b6b6b6,
             -20px -20px 14px #f6f6f6;
    }
    p{
        padding-top: 5px;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        padding-left: 10px;
    }
    div{
        width: 360px;
        display: flex;
        flex-direction: column;
        padding: 6px;
    }

    
}
