// PRODUCTOS.

/*PRODUCTOS*/   

.title-producto{
    animation-duration: 3s;
    animation-name: slidein;
    padding-top: 5px;
    padding-left: 5%;
    color: $bordo;
    font-weight: 300;
}

@keyframes slidein {
    from {
        
        margin-left:99%;
        width: 200%;
    }
      
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.primera-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-body{
    background-color: white;
    border-radius: 10px;

    h5{
        color: $bordo;
        font-weight: 600;
    }
}