// PRODUCTOS.

/*PRODUCTOS*/   

.title-producto{
    animation-duration: 3s;
    padding-top: 5px;
    padding-left: 5%;
    color: $bordo;
    font-weight: 300;
}

.primera-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-body{
    background-color: white;
    border-radius: 10px;

    h5{
        color: $bordo;
        font-weight: 600;
    }
} 